/* ----------------  > LAYOUT <  ---------------- */
// Includes header, footer, grids

// ---------- > BODY < -----------
body {
    background-color: $fondoObscuro;
    background-image: url(../img/background.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    header {
        nav {
            z-index: 10;
        }          
    }
    section {
        .searchForm {
            padding-top: 90px;
            .searchInput {
                max-width: 1300px;
                margin-top: 0;
                height: 35px;
            }
            .searchButton {
                width: 45px;
                height: 35px;
            }
        }    
        .productsGrid {
            max-width: 1415px;
            .productTitle { 
                text-align: center;
                padding: 15px;
                font-family: $titulo;
                color: $contraste1;
                font-size: 30px;
                text-align: center;
                text-shadow: 5px 4px 2px rgba($color: $contraste2, $alpha: 1);
    
            }
            #container__products {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

            }
        }
    }
    footer {
        
    }
}