/* ----------------  > LAYOUT <  ---------------- */
// Includes header, footer, grids

// ---------- > BODY < -----------
body {
    background-color: $fondoObscuro;
    background-image: url(../img/background.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    header {
        .navbar {
            z-index: 10;            
        }          
    }
    section {
        padding-top: 100px;
        .notificationContainer{
            z-index: 1000;
            position: fixed;
            bottom: 1.5rem;
            right: 1.5rem;
        }
        .productsGrid {
            background-color: $fondoMedio;
            border: solid 2px $contraste1;
            border-radius: 10px;
            margin-bottom: 25px;
            max-width: 1600px;
            box-shadow: 10px 10px 6px rgba($color: $contraste2, $alpha: 0.5);
            h2 {
                padding: 15px;
                font-family: $titulo;
                color: $contraste1;
                font-size: 30px;
                text-align: center;
                text-shadow: 5px 4px 2px rgba($color: $contraste2, $alpha: 1);
                height: 45px;
            }
            .containerProducts {
                margin-bottom: 25px;
            }
        }
    }
}