/* -----------------  > MAIN <  ----------------- */
/* ----------------  > RESETS <  ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=Merriweather:ital,wght@1,300;1,400;1,900&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details,
figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video, applet, acronym, big, strike,
tt, u, center, embed, output, ruby {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
}

a {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, main {
  display: block;
}

blockquote, q {
  quotes: none;
}

b, strong {
  font-weight: bolder;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

button, input[type=button] {
  width: auto;
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring,
[type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

del {
  text-decoration: line-through;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0;
}

img, object, embed {
  max-width: 100%;
}

img {
  border-style: none;
  border: 0;
  vertical-align: top;
}

input, select {
  vertical-align: middle;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

ins {
  text-decoration: none;
}

label, input[type=button], input[type=submit], input[type=file],
button {
  cursor: pointer;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

mark {
  font-style: italic;
  font-weight: bold;
}

ol, ul, nav ul {
  list-style: none;
}

progress {
  vertical-align: baseline;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

select, input, textarea {
  font: 99% sans-serif;
}

summary {
  display: list-item;
}

textarea {
  overflow: auto;
}

template {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}

th, td {
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

/* -----------------  > BASE <  ----------------- */
/* --------------  > COMPONENTS <  -------------- */
.notif {
  width: 290px;
  height: 135px;
  margin: 18px;
  border-radius: 6px;
  opacity: 0;
  box-shadow: 15px 15px 3px rgba(137, 15, 6, 0.4);
  animation: hideNotif linear 6s;
  position: relative;
}
.notif .close {
  z-index: 101;
  cursor: pointer;
  text-align: right;
  margin-top: 2px;
  margin-right: 2px;
}
.notif .close .material-symbols-outlined {
  font-size: 20px;
  color: #bdbdbd;
}
.notif .notifInner {
  position: relative;
  top: 10px;
  padding: 0 5px;
}
.notif .notifInner .material-symbols-outlined {
  font-size: 52px;
  display: inline;
}
.notif .notifInner .notifText {
  margin-bottom: 0;
  margin-top: 8px;
  font-family: "Black Ops One", cursive;
  font-size: 18px;
  display: inline;
  color: #041100;
}
.notif .notifInner .notifProduct {
  height: 25px;
  overflow: hidden;
  margin: 2px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}
.notif .notifTimeBarProgress {
  height: 5px;
  margin-top: 13px;
  border: 0;
  animation: barProgress linear 6s;
}

.addNotif {
  background-color: rgb(238, 255, 241);
  border: solid 1px #07bc0c;
}
.addNotif .notifInner .material-symbols-outlined {
  color: #07bc0c;
}
.addNotif .notifTimeBarProgress {
  background-color: #07bc0c;
}

.delNotif {
  background-color: rgb(255, 238, 238);
  border: solid 1px #e74c3c;
}
.delNotif .notifInner .material-symbols-outlined {
  color: #e74c3c;
}
.delNotif .notifTimeBarProgress {
  background-color: #e74c3c;
}

@keyframes hideNotif {
  0% {
    opacity: 0;
    left: 55px;
  }
  8% {
    opacity: 1;
    left: 0;
  }
  92% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: 55px;
  }
}
@keyframes barProgress {
  0% {
    width: 100%;
  }
  10% {
    width: 100%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
.button {
  background-color: #FFCB1F !important;
  height: 38px;
  width: 95px;
  border: solid 2px rgba(20, 54, 19, 0.6) !important;
  border-radius: 7px;
}

.button:hover {
  transform: scale(1.01);
  box-shadow: 1px 2px 3px rgba(4, 17, 0, 0.8);
}

.button:active {
  box-shadow: 0 0 0;
  transform: scale(0.99);
  background-color: #d6ab1a;
}

.productCard {
  margin: 22px;
  height: 425px;
  width: 310px;
  background-color: #8CAEA6;
  border-radius: 5px;
}
.productCard .productOffer {
  z-index: 2;
  border-top: 20px solid #FFCB1F;
  border-bottom: 20px solid #FFCB1F;
  border-right: 25px solid transparent;
  border-left: 80px solid #FFCB1F;
  position: relative;
  left: 9px;
  top: 15px;
  height: 35px;
  width: 110px;
}
.productCard .productOffer span {
  position: relative;
  top: -14px;
  left: -68px;
  color: rgba(20, 54, 19, 0.9);
  font-family: "Black Ops One", cursive;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(137, 15, 6, 0.8);
}
.productCard .productSlider {
  position: relative;
  top: -40px;
  z-index: 1;
}
.productCard .productDescription {
  position: relative;
  top: -35px;
  left: 15px;
  overflow: hidden;
  white-space: nowrap;
  width: 280px;
}
.productCard .productDescription .productTitle {
  color: #041100;
  text-shadow: 1px 1px 3px #041100;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}
.productCard .productDescription .productTitle p {
  margin: 2px;
}
.productCard .productDescription .productPrice {
  align-content: center;
}
.productCard .productDescription .productPrice .productPrice--sale {
  font-family: "Black Ops One", cursive;
  display: inline-block;
  padding: 2px;
  font-size: 22px;
  color: #890F06;
  text-shadow: 2px 2px 2px #013d01;
}
.productCard .productDescription .productPrice .productPrice--regular {
  font-family: "Alfa Slab One", cursive;
  display: inline-block;
  text-decoration: line-through;
  font-size: 12px;
  color: rgba(20, 54, 19, 0.6);
}
.productCard .productAddToCart {
  position: relative;
  top: -40px;
  left: 15px;
  display: flex;
  align-items: center;
  width: 290px;
}
.productCard .productAddToCart .productAddToCart--text {
  font-size: 20px;
  color: #FFCB1F;
  font-family: "Alfa Slab One", cursive;
  display: inline-block;
  padding-right: 10px;
  text-shadow: 2px 2px 1px rgba(20, 54, 19, 0.9);
}
.productCard .productAddToCart .productAddToCart--btn {
  display: inline-block;
}
.productCard .productAddToCart .productAddToCart--btn .material-symbols-outlined {
  color: #143613;
}

.slider {
  height: 300px;
  width: 300px;
}
.slider .slideList {
  position: relative;
  padding: 10px;
}
.slider .slideList .slide {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}
.slider .slideList .slide img {
  max-height: 290px;
  object-fit: cover;
}
.slider .slideList .slide1 {
  opacity: 1;
}
.slider .slideList .slide:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #041100;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(1, 61, 1, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(140, 174, 166, 0.3);
}

.navbar {
  height: 75px;
  background-color: rgba(4, 17, 0, 0.9);
}
.navbar .container .principalLogo {
  max-width: 800px;
}
.navbar .container .principalLogo a {
  text-decoration: none;
}
.navbar .container .principalLogo a h1 {
  font-family: "Black Ops One", cursive;
  color: #FFCB1F;
  font-size: 35px;
  text-align: center;
  text-shadow: 5px 4px 2px #890f06;
}
.navbar .container .principalLogo a h1 .logo {
  overflow: hidden;
  height: 45px;
  width: 45px;
}
.navbar .container .cartList {
  padding-left: 35px;
}
.navbar .container .cartList .cart .material-symbols-outlined {
  margin-top: 12px;
  cursor: pointer;
  color: #FFCB1F;
  font-size: 38px;
  background-color: transparent;
}
.navbar .container .cartList .cart .material-symbols-outlined:hover {
  text-shadow: 5px 4px 2px #890f06;
}
.navbar .container .cartList .cart .counter.show {
  opacity: 1 !important;
}
.navbar .container .cartList .cart .counter {
  opacity: 0;
  position: relative;
  bottom: 25px;
  left: -5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgba(137, 15, 6, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.navbar .container .cartList .cart .cartTable {
  position: fixed;
  top: 78px;
  right: 20px;
  max-height: 90%;
  padding: 15px;
  background-color: #f7fffd;
  border-radius: 5px;
  box-shadow: 15px 15px 2px rgba(137, 15, 6, 0.4);
}
.navbar .container .cartList .cart .cartTable .cartItem {
  border-bottom: solid 1px rgba(4, 17, 0, 0.5);
  margin: 15px 0 0 0;
}
.navbar .container .cartList .cart .cartTable .cartItem .material-symbols-outlined {
  padding-top: 3px;
  background-color: transparent !important;
  text-shadow: 0 0 0 transparent !important;
  color: #890F06;
  font-size: 25px;
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
}
.navbar .container .cartList .cart .cartTable .cartItem .material-symbols-outlined:active {
  box-shadow: 0 0 0 transparent !important;
}
.navbar .container .cartList .cart .cartTable .cartItem .cartTableTile {
  margin: 0;
  font-size: 17px;
}
.navbar .container .cartList .cart .cartTable .cartItem p {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
.navbar .container .cartList .cart .cartTable .cartItem .tableNameTitle {
  width: 120px;
  margin-right: 15px;
}
.navbar .container .cartList .cart .cartTable .cartItem .tablePriceTitle {
  width: 70px;
}
.navbar .container .cartList .cart .cartTable .cartItem .tableSubTitle {
  width: 70px;
}
.navbar .container .cartList .cart .cartTable .cartItem .tableCantTitle {
  width: 70px;
}
.navbar .container .cartList .cart .cartTable .cartItem .tableCantTitle .cantBtn {
  margin: 0;
  font-size: 20px;
}
.navbar .container .cartList .cart .cartTable .cartItem .tableCantTitle p {
  text-align: center;
  height: 25px;
  width: 15px;
  border: solid 1px;
}
.navbar .container .cartList .cart .cartTable .cartItem .tableDelTitle {
  position: relative;
  top: -9px;
  width: 40px;
}
.navbar .container .cartList .cart .cartTable .cartTitles {
  margin: 0;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem {
  border-bottom: solid 1px rgba(4, 17, 0, 0.5);
  margin: 15px 0 0 0;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .material-symbols-outlined {
  padding-top: 3px;
  background-color: transparent !important;
  text-shadow: 0 0 0 transparent !important;
  color: #890F06;
  font-size: 25px;
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .material-symbols-outlined:active {
  box-shadow: 0 0 0 transparent !important;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .cartTableTile {
  margin: 0;
  font-size: 17px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem p {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .tableNameTitle {
  width: 120px;
  margin-right: 15px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .tablePriceTitle {
  width: 70px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .tableSubTitle {
  width: 70px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .tableCantTitle {
  width: 70px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .tableCantTitle .cantBtn {
  margin: 0;
  font-size: 20px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .tableCantTitle p {
  text-align: center;
  height: 25px;
  width: 15px;
  border: solid 1px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartItem .tableDelTitle {
  position: relative;
  top: -9px;
  width: 40px;
}
.navbar .container .cartList .cart .cartTable .cartInner h5 {
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgba(20, 54, 19, 0.8);
  font-family: "Black Ops One", cursive;
  text-align: right;
}
.navbar .container .cartList .cart .cartTable .cartInner h5 span {
  color: rgba(137, 15, 6, 0.7);
}
.navbar .container .cartList .cart .cartTable .cartInner .cartButtons {
  font-size: 20px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartButtons #deleteCart {
  color: #FFFFFF;
  background-color: #e74c3c !important;
  width: 120px;
}
.navbar .container .cartList .cart .cartTable .cartInner .cartButtons #toPay {
  color: #FFFFFF;
  background-color: #07bc0c !important;
}

/* ----------------  > LAYOUT <  ---------------- */
body {
  background-color: #041100;
  background-image: url(../img/background.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
body header .navbar {
  z-index: 10;
}
body section {
  padding-top: 100px;
}
body section .notificationContainer {
  z-index: 1000;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}
body section .productsGrid {
  background-color: #143613;
  border: solid 2px #FFCB1F;
  border-radius: 10px;
  margin-bottom: 25px;
  max-width: 1600px;
  box-shadow: 10px 10px 6px rgba(137, 15, 6, 0.5);
}
body section .productsGrid h2 {
  padding: 15px;
  font-family: "Black Ops One", cursive;
  color: #FFCB1F;
  font-size: 30px;
  text-align: center;
  text-shadow: 5px 4px 2px #890f06;
  height: 45px;
}
body section .productsGrid .containerProducts {
  margin-bottom: 25px;
}

/*# sourceMappingURL=styles.css.map */
