/* -----------------  > MAIN <  ----------------- */
/* ----------------  > RESETS <  ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=Merriweather:ital,wght@1,300;1,400;1,900&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details,
figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video, applet, acronym, big, strike,
tt, u, center, embed, output, ruby {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
}

a {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, main {
  display: block;
}

blockquote, q {
  quotes: none;
}

b, strong {
  font-weight: bolder;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

button, input[type=button] {
  width: auto;
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring,
[type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

del {
  text-decoration: line-through;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0;
}

img, object, embed {
  max-width: 100%;
}

img {
  border-style: none;
  border: 0;
  vertical-align: top;
}

input, select {
  vertical-align: middle;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

ins {
  text-decoration: none;
}

label, input[type=button], input[type=submit], input[type=file],
button {
  cursor: pointer;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

mark {
  font-style: italic;
  font-weight: bold;
}

ol, ul, nav ul {
  list-style: none;
}

progress {
  vertical-align: baseline;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

select, input, textarea {
  font: 99% sans-serif;
}

summary {
  display: list-item;
}

textarea {
  overflow: auto;
}

template {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}

th, td {
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

/* -----------------  > BASE <  ----------------- */
/* --------------  > COMPONENTS <  -------------- */
.searchInput[type=text] {
  max-width: 600px;
  width: 90%;
  margin: 10px 5px;
  padding: 8px 15px;
  font-family: "Merriweather", serif;
  border: 2px solid transparent;
  border-radius: 5px;
}

.searchInput[type=text]:focus {
  border: 2px solid #FFCB1F;
}

.button {
  background-color: #FFCB1F !important;
  height: 38px;
  width: 95px;
  border: solid 2px rgba(20, 54, 19, 0.6) !important;
  border-radius: 7px;
}

.button:hover {
  transform: scale(1.01);
  box-shadow: 1px 2px 3px rgba(4, 17, 0, 0.8);
}

.button:active {
  box-shadow: 0 0 0;
  transform: scale(0.99);
  background-color: #d6ab1a;
}

.product__card {
  margin: 22px;
  height: 425px;
  width: 310px;
  background-color: #8CAEA6;
  border-radius: 5px;
}
.product__card .product__offer {
  z-index: 2;
  border-top: 20px solid #FFCB1F;
  border-bottom: 20px solid #FFCB1F;
  border-right: 25px solid transparent;
  border-left: 80px solid #FFCB1F;
  position: relative;
  left: 9px;
  top: 15px;
  height: 35px;
  width: 110px;
}
.product__card .product__offer span {
  position: relative;
  top: -9px;
  left: -68px;
  color: rgba(20, 54, 19, 0.9);
  font-family: "Black Ops One", cursive;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(137, 15, 6, 0.8);
}
.product__card .product__slider {
  position: relative;
  top: -40px;
  z-index: 1;
}
.product__card .product__likeHeart {
  position: relative;
  top: -70px;
  left: 265px;
  background-color: transparent;
}
.product__card .product__likeHeart .material-symbols-outlined {
  color: #890F06;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.product__card .product__likeHeart:hover {
  transform: scale(1.2);
}
.product__card .product__likeHeart:active {
  transform: scale(1.1);
}
.product__card .product__likeHeart:active .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}
.product__card .product__description {
  position: relative;
  top: -55px;
  left: 15px;
  overflow: hidden;
  white-space: nowrap;
  width: 280px;
}
.product__card .product__description .product__title {
  color: #041100;
  text-shadow: 2px 1px 3px #041100;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  word-spacing: 4px;
  font-size: 16px;
}
.product__card .product__description .product__price {
  margin-top: 10px;
  align-content: center;
}
.product__card .product__description .product__price .product__price--sale {
  font-family: "Black Ops One", cursive;
  display: inline-block;
  padding: 2px;
  font-size: 22px;
  color: #890F06;
  text-shadow: 2px 2px 2px #013d01;
}
.product__card .product__description .product__price .product__price--regular {
  font-family: "Alfa Slab One", cursive;
  display: inline-block;
  text-decoration: line-through;
  font-size: 12px;
  color: rgba(20, 54, 19, 0.6);
}
.product__card .product__addToCart {
  position: relative;
  top: -45px;
  left: 30px;
  display: flex;
  align-items: center;
  width: 280px;
}
.product__card .product__addToCart .product__addToCart--text {
  color: #890F06;
  font-family: "Alfa Slab One", cursive;
  display: inline-block;
  padding-right: 20px;
  text-shadow: 2px 2px 1px rgba(20, 54, 19, 0.9);
}
.product__card .product__addToCart .product__addToCart--btn {
  display: inline-block;
}
.product__card .product__addToCart .product__addToCart--btn .material-symbols-outlined {
  color: #143613;
}

.slider {
  height: 300px;
  width: 300px;
}
.slider .slider__list {
  position: relative;
  padding: 10px;
}
.slider .slider__list .slide {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}
.slider .slider__list .slide img {
  max-height: 290px;
  object-fit: cover;
}
.slider .slider__list .slide1 {
  opacity: 1;
}
.slider .slider__list .slide:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 5%;
}

::-webkit-scrollbar-track {
  background: #041100;
}

::-webkit-scrollbar-thumb {
  background: #013d01;
}

::-webkit-scrollbar-thumb:hover {
  background: #8CAEA6;
}

.navbar {
  height: 75px;
  background-color: rgba(4, 17, 0, 0.9);
}
.navbar .container .principalLogo {
  max-width: 800px;
}
.navbar .container .principalLogo a {
  text-decoration: none;
}
.navbar .container .principalLogo a h1 {
  font-family: "Black Ops One", cursive;
  color: #FFCB1F;
  font-size: 35px;
  text-align: center;
  text-shadow: 5px 4px 2px #890f06;
}
.navbar .container .principalLogo a h1 .logo {
  overflow: hidden;
  height: 45px;
  width: 45px;
}
.navbar .container .navbarLists .navbarList {
  padding-left: 35px;
}
.navbar .container .navbarLists .navbarList .navbar-nav .nav-item .material-symbols-outlined {
  cursor: pointer;
  color: #FFCB1F;
  font-size: 38px;
  background-color: transparent;
}
.navbar .container .navbarLists .navbarList .navbar-nav:hover {
  text-shadow: 5px 4px 2px #890f06;
}

/* ----------------  > LAYOUT <  ---------------- */
body {
  background-image: url(img/background.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
body header nav {
  z-index: 10;
}
body section .searchForm {
  padding-top: 90px;
}
body section .searchForm .searchInput {
  max-width: 1300px;
  margin-top: 0;
  height: 35px;
}
body section .searchForm .searchButton {
  width: 45px;
  height: 35px;
}
body section .productsGrid {
  max-width: 1415px;
}
body section .productsGrid .productTitle {
  text-align: center;
  padding: 15px;
  font-family: "Black Ops One", cursive;
  color: #FFCB1F;
  font-size: 30px;
  text-align: center;
  text-shadow: 5px 4px 2px #890f06;
}
body section .productsGrid #container__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*# sourceMappingURL=styles.css.map */
